{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<h2>Contact Us</h2>
<div class="container">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        <div class="col">
            <div class="card radius-15 bg-dark text-white">
                <div class="card-body text-center">
                    <div class="p-4 radius-15">
                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" width="110" height="110" class="rounded-circle shadow p-1 bg-white" alt="Nazreen Mohammed Nassar">
                        <h5 class="mb-0 mt-5">Nazreen Mohammed Nassar</h5>
                        <p class="mb-3">Student @ Amrita</p>
                        <div class="d-grid">
                            <a href="mailto:nazreenkmn_mca2207195@ahead.students.amrita.edu" class="btn btn-outline-light radius-15">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
